// Color Variables
$primary-color: rgb(231,143,0);
$text-color: #333;
$text-color-dark: #202020;
$text-color-light: #555;
$body-color: #fff;
$border-color: rgb(196, 187, 172);
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';